@font-face {
    font-family: 'New Rodin';
    src: url('BaiJamjuree-Regular.ttf');
}

:root {
    --scale_factor: 35;
    --board_width:calc(var(--scale_factor)*1vw);
    --board_height:calc(var(--scale_factor)*0.2vh);
    --checkerboard-size:calc(var(--board_height) * 0.4);
}

.board-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

#board-container-left, #board-container-right {
    display: flex;
    flex-direction: column;
}

#scoreboard-left::before {
    content: '';
    height: 150%;
    width: 150%;
    position: absolute;
    background: #de1b22;
    z-index: -1;
    top: -25%;
    left: -25%;
}

#scoreboard-left, #scoreboard-right {
    width: var(--board_width);
    height: var(--board_height);
    position: relative;
    overflow: hidden;
    display: flex;
}

#scoreboard-right::before {
    content: '';
    height: 150%;
    width: 150%;
    position: absolute;
    background: #3363ff;
    z-index: -1;
    top: -25%;
    left: -25%;
}

.team-score {
    position: absolute;
    display: flex;
    height: 80%;
    width: 100%;
    top: 10%;
    background: repeating-conic-gradient(#0a0a0a 0% 25%, #202020 0 50%) 0% / var(--checkerboard-size) var(--checkerboard-size);
    color: white;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    font-family: 'New Rodin';
    font-size: calc(var(--board_height) * 0.8);
}

.team-score > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-initials {
    margin: 0 5px 0 5px;
    font-size: 0.6em;
    min-width: fit-content;
    width: 5%;
}

.team-name {
    display: block;
    margin: 0 5px 0 5px;
    font-size: 0.4em;
    text-align: center;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    height: calc(var(--board_height) * 0.8 * 0.5);
}

.score {
    display: flex;
    padding: 0 5px 0 5px;
    width: 10%;
    min-width: fit-content;
    font-size: 0.75em;
    background: #202020;
    height: 100%;
}

#SL {
    color: #de1b22;
}

#SR {
    color: #3363ff;
}

#T1SW, #T2SW {
    display: flex;
    padding-top: 1vh;
}

#info-container {
    flex-direction: column;
    height: calc(var(--board_height) * 0.8);
    padding: calc(var(--board_height) * 0.1) 0 calc(var(--board_height) * 0.1) 0;
    width: max-content;
    max-width: 75px;
    background-color: #0a0a0a;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'New Rodin';
    position: relative;
    display: flex;
}

#info-container > div {
    font-family: 'New Rodin';
    font-size: calc(var(--board_height) * 0.6 * 0.5);
    white-space: nowrap;
    height: 50%;
}

.set-wins {
    height: 1vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.show {
    opacity: 1;
    transition: all 0.75s ease;
}

.text-fade {
    color: rgba(0, 0, 0, 0);
    transition: all 0.75s ease;
}

.fade {
    opacity: 0;
    transition: all 0.75s ease;
}

@media (min-width: 350px) and (max-width: 500px) {
    .team-name {
        flex-grow: 0;
        width: 0px;
        margin: 0;
    }
    .team-initials {
        width: 50%;
    }
    .score {
        width: 50%;
    }
    #info-container {
        width: auto;
        color: transparent;
    }
    #scoreboard-left, #scoreboard-right {
        width: 200px;
    }
}

@media (max-width: 350px) {
    .team-name {
        flex-grow: 0;
        width: 0;
        margin: 0;
    }
    .team-initials {
        min-width: 0%;
        width: 0px;
        overflow: hidden;
        margin: 0;
    }
    .score {
        width: 100%;
    }

    #info-container {
        width: 0px;
        color: transparent;
    }
    #scoreboard-left, #scoreboard-right {
        width: 150px;
    }
}
