@font-face {
    font-family: 'New Rodin';
    src: url('FOT-NewRodin Pro B.otf');
}

:root {
    --scale_factor: 35;
    --board_width:calc(var(--scale_factor)*1vw);
    --board_height:calc(var(--scale_factor)*0.2vh);
    --checkerboard-size:calc(var(--board_height) * 0.4);
    --scoreboard-color-dark: #0a0a0a;
    --scoreboard-color-light: #202020;
    --score-color-back: #202020;
    --score-color-left:#de1b22;
    --score-color-right:#3363ff;
    --score-text-color: white;
    --font_factor: 1.125;
}

.board-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1vh;
}

#board-container-left, #board-container-right {
    display: flex;
    flex-direction: column;
}

#scoreboard-left::before {
    content: '';
    height: 150%;
    width: 150%;
    position: absolute;
    background: var(--score-color-left);
    z-index: -1;
    top: -25%;
    left: -25%;
}

#scoreboard-left, #scoreboard-right {
    height: var(--board_height);
    width: var(--board_width);
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#scoreboard-right::before {
    content: '';
    height: 150%;
    width: 150%;
    position: absolute;
    background: var(--score-color-right);
    z-index: -1;
    top: -25%;
    left: -25%;
}

.team-score {
    position: absolute;
    display: flex;
    height: 80%;
    width: 100%;
    top: 10%;
    background: repeating-conic-gradient(var(--scoreboard-color-dark) 0% 25%, var(--scoreboard-color-light) 0 50%) 0% / var(--checkerboard-size) var(--checkerboard-size);
    color: var(--score-text-color);
    vertical-align: middle;
    align-items: center;
    text-align: center;
    font-family: 'New Rodin';
    font-size: calc(var(--font_factor)*2rem);
}

.team-score > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-initials {
    font-size: calc(var(--font_factor)*.85rem);
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 5%;
}

.team-name {
    font-size: calc(var(--font_factor)*.95rem);
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 85%;
}

.score {
    display: flex;
    padding-left: 2.5%;
    padding-right: 2.5%;
    max-width:10%;
    min-width: 10%;
    font-size: calc(var(--font_factor)*1.5rem);
    background: var(--score-color-back);
    height: 100%;
}

#SL {
    color: var(--score-color-left);
}

#SR {
    color: var(--score-color-right);
}

#T1SW, #T2SW {
    display: flex;
    padding-top: 1vh;
}

#center-logo {
    height: var(--board_height);
    width: calc(var(--board_width)/8);
    max-width: 75px;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #0a0a0a;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'New Rodin';
    position: relative;
    display: flex;
}

#info-container {
    position: absolute;
    width: 4vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#info-container > div {
    font-family: 'New Rodin';
    color: white;
    font-size: calc(var(--font_factor)*0.6rem);
    white-space: nowrap;
    height: 50%;
}

.set-wins {
    height: 1vh;
    width: var(--board_width);
    display: flex;
    flex-direction: row;
}

.show {
    opacity: 1;
    transition: all 0.75s ease;
}

.text-fade {
    color: rgba(0, 0, 0, 0);
    transition: all 0.75s ease;
}

.fade {
    opacity: 0;
    transition: all 0.75s ease;
}
